main
	flex-direction: column

	footer
		display: flex
		padding: 1em
		justify-content: space-between
		> *
			text-align: center
			flex: 1

#videolist
	align-self: center
	flex: 1
	overflow-y: auto

#videoUrl
	margin: 10px 0px

#buttons
	display: flex
	justify-content: space-between
	margin: 15px 2em

#videoqualitymodal
	.info
		margin-bottom: 1em
		border: 1px solid #666666
		background: #535353
		div.image
			display: flex
			min-height: 50px
			img
				max-height: 35vh
				min-height: 50px
			&.loader
				img
					display: none
		div.bot
			background: #464646
			border-top: 1px solid #666666
			display: flex
			span
				flex: 1
				padding: 3px
				&:not(:first-child)
					border-left: 1px solid #666666


.video
	border-radius: 2px
	border: 1px solid #857A84
	position: relative
	margin-bottom: 15px
	.video-body
		display: flex
		flex-direction: row
		.video-image
			max-width: 40%
			@media (max-width: 450px)
				display: none
		.video-content
			padding: .5em
			flex: 1
			flex-grow: 3
			p,span
				margin: 0
			display: flex
			flex-direction: column
			.video-title
				text-overflow: ellipsis
				overflow: hidden
				font-weight: bold
				max-height: 2.2em
				line-height: 1.1em
			.spacer
				flex-grow: 1

	.video-footer
		display: flex
		border-top: 1px solid rgba(163, 163, 163, 0.255)
		position: relative
		.buttons
			background: #575757
			position: relative
			z-index: 5
			button
				background: rgba(0, 0, 0, .3)
				padding: .3em .5em
				background: transparent
				transition: all .2s ease-in-out
				&:hover
					background: #00009649
					&:last-of-type
						background: rgba(150, 0, 0, .5)
		.progress
			height: auto
			background: transparent
			border-radius: 0
			.progress-bar
				box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.3)
				background-image: linear-gradient(to right, #bcf538, #13d32d)
				opacity: .5

	&.error
		.video-footer
			.progress-bar
				background-image: none
				background: #c23838
	&.paused
		.video-footer
			.progress-bar
				background-image: none
				background: #fcb843

.console-modal
	.modal-body
		display: flex
		height: 70vh
		pre,textarea
			flex: 1